@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper {
    width: 78%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 12px;
    padding: 30px;
    height: 70vh;
    max-height: 70vh;    
    overflow-y: auto;
}

.wrapper::-webkit-scrollbar{
  width: 8px; 
}

.wrapper::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px; 
}

.wrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb:hover{
  background: rgba(255, 255, 255, 0.8);
}

h1 {
  color: white;
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper Label {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

h3 {
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.line {
    width: 100%;
    height: 1.5px;
    margin: 40px 0;
    background-color: #fff;
}

.wrapper .input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper .input-container .input-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    color: white; 
}

.wrapper .input-container .input-radio .sex-contianer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-radio {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 30%; 
  color: white;
  height: 40px;
}

.sex-container {
  display: flex; 
  align-items: center; 
  gap: 20px;
}

.sex-container label {
  margin-right: 10px; 
}

.wrapper .input-container .input-box input,
#other-input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.699);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert();
}

.wrapper .input-container .input-box select {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.699);
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 10px;
}

.wrapper .input-container .input-box select option {
    color: black;
}

#other-container {
  width: 30%; 
  margin-top: 30px;
  margin-bottom: -10px;
  margin-left: 70%;
}

.button-container {
  display: flex;
  justify-content: flex-end; 
}

.submit-btn,
.back-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn,
.back-btn {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
}

.submit-btn:hover,
.back-btn:hover {
  background-color: #c2c2c25a; 
}

.error {
  color: red;
  font-size: 13.5px;
  text-shadow: 2px 2px 2px black; margin: auto;
}


.form-group {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

p {
  color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;

}

